


<div class="section">
  <div class="box user-log-in">
    <div class="columns is-centered">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="column is 4"><div class="title">Login</div></div>    

          <div class="field">
            <div class="control">
              <%= f.input :email,
                        required: false,
                        autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: {class: "label"} %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password, required: false, input_html: { class: "input" }, wrapper: false, label_html: {class: "label"} %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="field">
            <div class="control">
                <%= f.submit "Login", class:"button is-info"%>
            </div>
          </div>
          
      <% end %>

      
    </div>
  </div>
</div>